@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.hi {
  font-size: 8rem;
  font-weight: bold;
  font-family: Lora;
}

.content {
  font-family: Roboto;
  font-weight: 300;
}
