@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f2;
  font-family: Merriweather;
  color: #2e2e2e;
  height: 100vh;
  margin: 0;
}

footer {
  min-height: 50px;
  margin-top: auto;
  text-align: center;
  font-size: 0.9rem;
}

.bubble {
  display: inline-block;
  margin: 0.8rem 0.25rem 0px;
  padding: 1rem;
  border-radius: 1rem;
  font-family: Nunito Sans;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px;
}

.bubble > p {
  margin: 0;
  font-size: 1rem;
}

.bubble > a {
  text-decoration: none;
}
